@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main estilos*/
html,
body {
    font-family: 'Montserrat', sans-serif;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
}

h3 {
    font-size: 1.75rem;
    /*font-style: italic;*/
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.2em;
    
}


p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*clases utiles*/
.contenedor {
    margin: auto;
    width: 98%;
    max-width: 130rem;
    overflow: auto;
    padding: 0 0.5rem;
    
}


.muestra-1 {
    font-size: 5rem;
}

.muestra-2 {
    font-size: 2.2rem;
    margin: 0.5rem 0;
}

.muestra-3 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
}

.btn {
    display: inline-block;
    font-size: 17px;
    padding: 1rem 3rem;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.75px;
    border: 1.5px solid black;
    background-color: rgba(31, 31, 31, 0.2);
    border-radius: 10px;
}

.btn-small {
    padding: 0.5rem 2rem;
    border-radius: 20px;
}

.btn-dark {
    background: black;
    color: white;
}

.btn-light {

    background: rgba(31, 31, 31, 0.1);
    color: white;
    font-weight: 400;

}

.btn-light:hover {
    background: rgba(11, 11, 11, 0.9);
}

.large {
    font-size: 2.5rem;
    /*20px*/
    font-weight: 600;
}

/*Navbar*/
nav {
    font-size: 0.9rem;
    overflow: auto;
    padding-top: 10px;
    
    padding-left: 20px;
    height: auto;
    display: flex;
/*    flex-direction: row;*/
    justify-content: space-between;
}

header label {
    display: none;
  /* width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid #fff;
    font-size: 27px;*/
    
}
label:hover {
    cursor: pointer;
    background: rgba(51, 51, 51, 0.8);
}

#btn-menu {
    display: none;
}

.menu-item {
    text-transform: uppercase;
    
}

.menu a {
    color: black;
}

.menu .logo {
    padding: 0.3rem 3rem;
   /* padding-left: 50px;
    padding-top: 2px;
    padding-right: 50px;*/
    font-size: 1.2rem;
    
    
}

.menu i {
    font-size: smaller;
}

/*.menu .logo a:hover {
    background: white;
    color: black;
}*/

.menu .thinner {
    /*el pisar del logo*/
    font-weight: 400;
}

.menu ul {
    display: flex;
/*    flex-direction: row;*/
    justify-content: flex-end;
    list-style: none;
    font-weight: 500;
    padding-right: 1.8rem;
}
.menu li a:hover {
    font-weight: 600;
    background: rgba(31, 31, 31, 0.9);
    color: white;
    border-radius: 10px;
}

.menu li a {
    display: block;
    padding: 1rem 1.2rem;
    /*   text-align: center;*/
}

.menu ul li a.current {
    text-decoration: underline;
}


/*Banner*/

#banner {
    background: url('../media/ushuaia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 98vh;/*100vh*/
    text-align: center;
    padding: 12.5rem 1.2rem ;
}

#banner h1 {
    padding: 2.5rem 0;
    font-weight: 600;
}

#banner h6,
#banner .thinner {
    font-weight: 400;

}

#banner a {
    text-transform: capitalize;
    font-style: italic;

}


/*Sección Regiones-Página index*/
#regiones {
    padding: 3.1rem 0;
    margin: 0.6rem;
}

#regiones h2 {
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 1.8rem;
    

}
#regiones h2 {
    position: relative;
    display: grid
}
 #regiones h2::after, h2::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 3px;
    background-color: currentColor;
    top: 2rem;
    transform: scale(0);
    transition: all 0.5s ease-in;
}
#regiones h2::before {
    left: 16rem;
}
#regiones h2::after {
    right: 16rem;
}
#regiones h2:hover::after, h2:hover::before {
transform: scale(1);
}

#regiones .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(6.2rem,auto);
    grid-gap: 1.2rem;
    padding: 1.2rem;
    margin: 0.3rem;
}

#regiones .box {
    text-align: center;
}

#regiones a {
    margin-top: 290px;
}

#regiones .box1 {
    grid-column: 1;
    grid-row: 1/2;
    background: url('../media/norte.webp');
}

#regiones .box2 {
    grid-column: 2;
    grid-row: 1/2;
    background: url('../media/ibera1.jpg');
}

#regiones .box3 {
    grid-column: 3;
    grid-row: 1/2;
    background: url('../media/Puelo.webp');
}

#regiones .box4 {
    grid-column: 1/3;
    grid-row: 2/3;
    background: url('../media/san-juan.jpg');
    text-align: right;
    padding-right: 160px;
}

#regiones .box5 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: url('../media/salinas-cordoba.jpg');
}
#regiones .box6 {
    grid-column: 1/4;
    grid-row: 3/4;
    background: url('../media/epecuen3.jpg');

}
#regiones .box1,
#regiones .box2,
#regiones .box3,
#regiones .box4,
#regiones .box5, 
#regiones .box6{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

/*#regiones .box1 img #regiones .box2 img #regiones .box3 img #regiones .box4 img #regiones .box5 img  #regiones .box6 img {
    width: 100%;
}*/



/*experiencias*/
.experiencias-texto {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.experiencias-texto p {
  margin-top: 1.25rem;
}

.experiencias-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.3rem;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    background-color: whitesmoke
}

.experiencias-caja {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    
}
.experiencias-caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: white;
font-family: 'Alegreya';
transform: scale(0);
transition: 1000ms ease;
}

.experiencias-caja:hover .capa {
    transform: scale(1);
}



/*Footer*/

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
}

.footer p {

    justify-content: start;
    text-align: center;
    padding-top: 6.25rem;
    padding-bottom: 3.1rem;
    padding-left: 3.1rem;
    width: 45%;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer a {
    
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding-right: 6.25rem;
    padding-top: 6.25rem;
    padding-bottom: 3.1rem;
    width: 25%;
    color: black;
}

/* pagina Destinos*/
/*h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 3.1rem 6.25rem;
    color: black;

}*/


a {
    text-decoration: none;

}



    #banner-destinos {
        width: 100%;
        height: 600px;
        margin: auto;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        
        }
        #banner-destinos ul {
            margin: 0;
            padding: 0;
            display: flex;
            width: 1000%;
            animation: destinos 50s infinite alternate ease-in-out;
        }
        #banner-destinos li {
            width: 100%;
            list-style: none;
        }
        #banner-destinos img {
            width: 100%;
            height: 650px;
            
        }
        .contenedor-destinos {
        position: absolute;
  
        margin: 0 0.1rem;
        width: 100%;
      /*  max-width: 1300px;*/
      height: 98vh;/*100vh*/
        text-align: center;
        padding: 12.5rem 1.25rem ;
        
        }
       
        
         #banner-destinos h1 {
            padding: 2.5rem 0;
            font-weight: 600;
        }
        @keyframes destinos {
            0%{margin-left: 0;}
            5%{margin-left: 0;}
            10%{margin-left: -100%;}
            15%{margin-left: -100%;}
            20%{margin-left: -200%;}
            25%{margin-left: -200%;}
            30%{margin-left: -300%;}
            35%{margin-left: -300%;}
            40%{margin-left: -400%;}
            45%{margin-left: -400%;}
            50%{margin-left: -500%;}
            55%{margin-left: -500%;}
            60%{margin-left: -600%;}
            65%{margin-left: -600%;}
            70%{margin-left: -700%;}
            75%{margin-left: -700%;}
            80%{margin-left: -800%;}
            85%{margin-left: -800%;}
            90%{margin-left: -900%;}
            100%{margin-left: -900%;}
        }
        

#banner-destinos h6,
#banner-destinos .thinner {
    font-weight: 400;
    color: black;

}


 
 .caja-destinos{
    max-width: 1300px;
    margin:1.5rem 1.8rem ;
    padding:1.8rem;
   /*overflow: hidden;*/
   transition: all .2s linear;
   text-transform: capitalize;
    background-color: floralwhite;
 }
 
 .caja-destinos #titulo{
    font-size: 1.9rem;
    color:black;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 }
 .caja-destinos p {
    text-align: center;
    font-size: 1.2rem;
    
 }
 
 .caja-destinos .caja-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     padding: 0.6rem ;
    margin: 1.2rem;
      /*  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));*/
    gap:10px;
    width: auto;
 }
 
 .caja-destinos .caja-producto .producto{
    text-align: center;
    padding:1.8rem 1.2rem;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    outline: .5px solid #ccc;
    outline-offset: -10px;
    cursor: pointer;
 }
 
 .caja-destinos .caja-producto .producto:hover{
    outline: .5px solid #222;
    outline-offset: 0;
 }
 
 .caja-destinos .caja-producto .producto img{
    height: 150px;
    width: 300px;
 }
 
 .caja-destinos .caja-producto .producto:hover img{
    transform: scale(.92);
 }
 
 .caja-destinos .caja-producto .producto h3{
    padding:.1.8rem 0;
    font-size: 1.5rem;
    color:black;
    font-weight: 500;

 }
 
 .caja-destinos .caja-producto .producto:hover h3{
    color: cadetblue;
    
 }
 
 .caja-destinos .caja-producto .producto h6{
    font-size: 1.2rem;
    color: black;
    font-family: 'Alegreya';
 }
 
 .previa-producto{
    position: fixed;
    top:0; left:0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
    
 }
 
 .previa-producto .previa{
    display: none;
    padding:1.8rem;
    text-align: center;
    background: whitesmoke;
    position: absolute;
    margin:1.8rem;
    width: 31.25rem;
    height: 34.25rem;
    outline: 10px solid rgba(0, 100, 100, 0.9);
    outline-offset: -10px;
 }
 
 .previa-producto .previa.active{
    display: block;
 }
 
 .previa-producto .previa img{
    width: 26rem;
    height: 12.5rem;
 }
 
 .previa-producto .previa .fa-xmark{
    position: absolute;
    top:0.8rem; 
    right:1rem;
    cursor: pointer;
    color:#444;
    font-size: 1.7rem;
 }
 
 
 .previa-producto .previa h3{
    color:black;
    padding:0.3rem 0;
    font-size: 1.75rem;
 }
 
 .previa-producto .previa .stars{
    padding:.3rem 0;
    font-size: .8rem;
 }
 
 .previa-producto .previa .stars i{
    color: red;
 }
 
 /*.products-preview .preview .stars span{
    color:#999;
 }*/
 
 .previa-producto .previa p{
    line-height: 1.2;
    padding:.3rem 0;
    font-size: 0.75rem;
    color:black;
 }
 
 /*.products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#27ae60;
 }*/
 
 .previa-producto .previa .buttons{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    margin-top: 0.75rem;
 }
 
 /*.products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
    text-decoration:none;
 }*/
 
 /*.products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }*/

.destinos-contenedor .destinos-carta p {
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
    text-align: justify;
}
.destinos-contenedor .destinos-carta i {
    margin: 2px ;
}


/*Página regiones*/
#banner-regiones {
    background: url('../media/merlo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    padding: 12.5rem 1.25rem;
}
#banner-regiones h1 {
    padding: 2.5rem 0;
    font-weight: 600;
}

#banner-regiones h6,
#banner-regiones .thinner {
    font-weight: 400;

}

#banner-regiones a {
    text-transform: capitalize;
    font-style: italic;

}
.regiones1-contenedor{
    padding: 3.1rem;
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}
.regiones1-contenedor h1 {
    font-size: 2em;
    margin: 2.8rem;
}
.regiones1-contenedor p {
    font-size: 1.2em;
    margin-bottom: 1.25rem;
    text-align: justify;
}
.regiones1-contenedor .regiones1-carta {
    width: 300px;
    height: 384px;
    background-color: lavender;
    border-radius: 8px;
    box-shadow: 2px  rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 2rem;
    text-align: center;
    transition: all 0.25s;
}
.regiones1-contenedor .regiones1-carta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 13px rgba(0, 0, 0, 0.5);

}
.regiones1-contenedor .regiones1-carta img {
    width: 20rem;
    height: 13.75rem;

}
.regiones1-contenedor .regiones1-carta h3 {
    font-weight: 500;
    padding: 1.5rem 0.6rem 0.3rem;
    font-size: 1.7rem;

}
.regiones1-contenedor .regiones1-carta p {
    padding:   1rem ;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    color: black;
    font-family: 'Alegreya';
    text-align: center;

}
.regiones1-contenedor .regiones1-carta a {
    text-decoration: none;
    font-weight: 500;
    color: darkred;
    font-weight: bold;
    padding: 6rem;
    
    
}
/*Css para cada región*/

    
    
  
#banner-regiones2 {
    width: 100%;
    height: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    
    }
    
    #banner-regiones2 ul {
     /*   margin: 0;
        padding: 0;*/
        display: flex;
        width: 1000%;
        animation: regiones2 50s infinite alternate ease-in-out;
    }
    
    #banner-regiones2 li {
        width: 100%;
        list-style: none;
    }
    #banner-regiones2 img {
        width: 100%;
        height: 650px;
        
    }
    
    .contenedor-regiones2 {
    position: absolute;
    
    width: 100%;
    max-width: 1300px;
    
    
    text-align: center;
    padding: 6.25rem 1.25rem 0 5rem ;
    
    /*margin-left: 30px;
    padding: 100px 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: 'Monserrat';*/
    }
        #banner-regiones2 h1 {
            padding: 2.5rem;
            font-weight: 600;
        }
    
    @keyframes regiones2 {
        0%{margin-left: 0;}
        5%{margin-left: 0;}
        10%{margin-left: -100%;}
        15%{margin-left: -100%;}
        20%{margin-left: -200%;}
        25%{margin-left: -200%;}
        30%{margin-left: -300%;}
        35%{margin-left: -300%;}
        40%{margin-left: -400%;}
        45%{margin-left: -400%;}
        50%{margin-left: -500%;}
        55%{margin-left: -500%;}
        60%{margin-left: -600%;}
        65%{margin-left: -600%;}
        70%{margin-left: -700%;}
        75%{margin-left: -700%;}
        80%{margin-left: -800%;}
        85%{margin-left: -800%;}
        90%{margin-left: -900%;}
        100%{margin-left: -900%;}
    }
    .texto-regiones2 {
        display: flex ;
        justify-content: center;
        flex-wrap: wrap;
        margin:0.6rem 0.3rem;
        padding: 0.6rem 0.3rem;
        font-family: 'Alegreya';
    
    }
    .texto-regiones2 h2 {
        padding: 1.25rem ;
        margin: 6.25rem 0 1.25rem;
        font-weight: bold;
       /* text-decoration: underline;*/
        font-weight: 500;
        position: relative;
        font-family: 'Montserrat';
        background-color: tan;    
        
    }
    
     .texto-regiones2 h2::after, h2::before {
        content: '';
        position: absolute;
        width: 140px;
        height: 3px;
        background-color: currentColor;
        top: 0.9em;
        transform: scale(0);
        transition: all 0.5s ease-in;
    }
    .texto-regiones2 h2::before {
        left: 25rem;
        top: 2.8rem;
    }
    .texto-regiones2 h2::after {
        right: 25rem;
        top: 2.8rem;
    }
    .texto-regiones2 h2:hover::after, h2:hover::before {
    transform: scale(1);
    }
    .texto-regiones2 p {
        padding: 0 1.25rem ;
        margin: 0 4rem ;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        line-height: 40px;
        text-align: justify;
        text-indent: 4rem ;   
    }
    .botones-regiones {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        margin: 0 5rem;
    }
    
    .botones-regiones a {
         padding: 1rem 2rem;
          color: white;
    background-color: black ;
    border-radius: 1.3rem;
    border: 1px solid transparent;
    font-size: 1rem;
    }
    .botones-regiones a:hover {
        background-color: darkcyan;
    }
/*Página de preguntas frecuentes*/
#banner-faqs {
    background: url('../media/la-pampa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    text-align: center;
    padding: 12.5rem 1.25rem;
}
.info h5 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 3rem 3rem 2rem;
}
.info .caja-info {
    justify-content: center;
background-color: #deb6ab;
    padding: 1rem;
    margin: 1.3rem;
    flex-wrap: nowrap;
}
.info .caja-info summary {
    font-size: 1.2rem;
    font-weight: 600;
}
.info .caja-info p {
    text-indent: 2rem;
    font-family: 'Alegreya';
    font-size: 1.2rem;
    font-weight: 400;
    
}
/*Página Contacto*/
#banner-nosotrxs {
    background: url('../media/epecuen3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    text-align: center;
    padding: 12.5rem 1.25rem;
}

#banner-nosotrxs h1 {
    padding: 40px 0;
    font-weight: 600;
}

#banner-nosotrxs h6,
#banner-nosotrxs .thinner {
    font-weight: 400;

}
.nosotrxs {
    width: 100%;
    max-width: 1300px;
    margin: 2rem auto;
    padding: 2rem;
    
}
.nosotrxs-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem ;
    
    height: 1100px;
    justify-content: space-between;
    text-align: justify;
     
   /*  width: 100%;
   height: 100%;*/

}
.nosotrxs-contenedor h5 {
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: auto;
}
.nosotrxs-contenedor p {
    padding: 1rem;
    margin: 1rem;
}

.nosotrxs-contenedor i {
  
    width: 100%;
    font-size: 1.8rem;
    padding: 10px;
    margin: 10px;
    text-align: center;


}

.nosotrxs-1 {
 
    height: 50px;
    width: 48%;
    background-color: teal;
}

.nosotrxs-2 {
  background-color: darkcyan;
    height: 50px;
    width: 48%;

}

.nosotrxs-3 {
background-color: cadetblue;
    height: 50px;
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 10rem;
    
}
.nosotrxs-3 p {
    margin: 0.3rem;
    text-align: center;
}
.sucursal {
    text-align: center;
    justify-content: center;
    
}
.sucursal iframe {
    width: 35rem;
}

/*Media Queries*/
@media screen and (max-width:991px){

    html{
       font-size: 83%;
    }
    /*Nav*/
    .menu .logo {
        font-size: 1.2rem;
        padding: 0.3rem 0.9rem;
    }
    .menu ul {
        font-size: 1rem;
        padding: 0.5rem;
    }
    /*Seccion regiones-Index*/
    #regiones h2 {
        text-align: center;
        padding-top: 0.6rem;
        padding-bottom: 1.8rem;
        
    
    }

     #regiones h2::after, h2::before {
    
        width: 120px;
    
        top: 1.8rem;
    
    }
    #regiones h2::before {
        left: 6rem;
    }
    #regiones h2::after {
        right: 6rem;
    }
    /*Página destinos*/
    #banner-destinos img {
        object-fit: cover;
    }
    .previa-producto .previa h3 {
        font-size: 2rem;
    }
    .previa-producto .previa h6 {
        font-size: 1.2rem;
    }
    .previa-producto .previa p {
        font-size: 1rem;
    
    }
    .previa-producto .previa img{
        height: 13rem;
        width: 21rem;
     }
    .previa-producto .previa{
     
        width: 27rem;
        height: 38rem;
        
     
     }
     .previa-producto .previa .fa-xmark{
        
        top:1rem; 
        right:1.3rem;
        font-size: 2rem;
     }

    /*Página regiones*/

    .regiones1-contenedor .regiones1-carta p {
        font-size: 1.3rem;
        
    
    }
  
 }

@media  screen and (max-width:728px) {
header label {
    display: block;
    position: relative;
    font-size: 27px;
    width: auto;
    height: auto;
    padding: 10px  ;
    border-right: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
label:hover {
    cursor: pointer;
    background: rgba(51, 51, 51, 0.9);
}
.menu .logo {
    display: block;
    position: absolute;
    margin-top: 380px;
    padding-left: 45px;
    padding-left: 45px;
    margin-right: 32px;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;

}
.menu .logo:hover {
    background: rgba(11,11, 11, 0.9);
    
    border-radius: 10px;
}
.menu {
    position: absolute;
    background-color: rgba(11, 11, 11, 0.9);
  /* background-color: black;*/
    width: 100%;
    height: 100%;
    margin-left: -100%;
    transition: all 1s;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    
}
.menu ul {
    flex-direction: column;
    font-size: 1.2rem;
  
}
.menu li {
    border-bottom: 1px  solid white ;
    width: 60vh;
    padding: 10px;
}
.menu  a {
    color: white;
}
.menu li a:hover {
    font-weight: 600;
    background: darkcyan;

    border-radius: 10px;
    
}


/*#btn-menu {
    display: block;
}*/
#btn-menu:checked ~ .menu {
    margin: 0;
z-index: 100;}
/*Sección regiones página index*/
#regiones h2 {
    font-size: 1.8rem;
}
#regiones h2::after, h2::before {
    
    position: absolute;
    width: 50px;
  height: 2px;
    top: 1.8rem;
   
}
#regiones h2::before {
    left: 1.3rem;
}
#regiones h2::after {
    right: 1.3rem;
}


/*Sección experiencia-Página index*/
.capa h3 {
    font-size: 2rem;
}
/* Página destinos*/
#banner-destinos img {
    object-fit: cover;
}
/*.previa-producto .previa h3 {
    font-size: 2rem;
}
.previa-producto .previa h6 {
    font-size: 1.3rem;
}
.previa-producto .previa p {
    font-size: 1.1rem;

}
.previa-producto .previa img{
    height: 150px;
 }
.previa-producto .previa{
 
    width: 32rem;
    height: 42rem;
    
 
 }
 .previa-producto .previa .fa-xmark{
    
    top:1.2rem; 
    right:1.5rem;
    font-size: 2rem;
 }*/
 
/*estilo animacion de cada pagina region*/
#banner-regiones2 img {
  object-fit: cover;
    
}

 /*Página regiones*/
 .regiones1-contenedor .regiones1-carta {
    width: 300px;
    height: 350px;


}

.regiones1-contenedor .regiones1-carta h3 {
    font-size: 2rem;
}
.regiones1-contenedor .regiones1-carta p {
    font-size: 1.2rem;
    

}
.regiones1-contenedor .regiones1-carta img {
    width:98%;


}
/*Css para cada región*/

.botones-regiones {
     padding: 1rem;
    
}

.botones-regiones a {
     padding: 0.9rem  0.5rem ; 
text-align: center;
}

}
