@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main estilos*/
html,
body {
    font-family: 'Montserrat', sans-serif;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.2em;
    
}


p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*clases utiles*/
.contenedor {
    margin: auto;
    width: 98%;
    max-width: 1300px;
    overflow: auto;
    padding: 0px 5px;
    
}


.muestra-1 {
    font-size: 5rem;
}

.muestra-2 {
    font-size: 2.2rem;
    margin: 5px 0;
}

.muestra-3 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
}

.btn {
    display: inline-block;
    font-size: 17px;
    padding: 15px 50px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.75px;
    border: 1.5px solid black;
    background-color: rgba(31, 31, 31, 0.2);
    border-radius: 10px;
}

.btn-small {
    padding: 10px 30px;
    border-radius: 20px;
}

.btn-dark {
    background: black;
    color: white;
}

.btn-light {

    background: rgba(31, 31, 31, 0.1);
    color: white;
    font-weight: 400;

}

.btn-light:hover {
    background: rgba(11, 11, 11, 0.9);
}

.large {
    font-size: 40px;
    /*20px*/
    font-weight: 600;
}

/*Navbar*/
.menu {
    font-size: 0.9rem;
    overflow: auto;
    padding-top: 10px;
    
    padding-left: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    display: none;
}

#menu-bar {
    display: none;
}

.menu .menu-item {
    text-transform: uppercase;
    
}

.menu a {
    color: black;
}

.menu .logo {
    padding-left: 50px;
    padding-top: 2px;
    padding-right: 50px;
 /*   float: left;*/
    font-size: 20px;
    
}

.menu i {
    font-size: smaller;
}

.menu .logo a:hover {
    background: white;
    color: black;
}

.menu .thinner {
    /*el pisar del logo*/
    font-weight: 400;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-weight: 500;
}

.menu ul ul {
    background: white;
   position: absolute;
    transform: translateX(40%);
    opacity: 0;
    transition: all 0.8s;
    display: flex;
    flex-direction: column;
}

.menu ul li:hover ul {
    opacity: 1;
    transform: translateX(0%);
}

.menu a:hover {
    font-weight: 600;
    background: rgba(31, 31, 31, 0.9);
    color: white;
}

.menu ul li a {
    display: block;
    padding: 20px;
    /*   text-align: center;*/
}

.menu ul li a.current {
    text-decoration: underline;
}


/*Banner*/

#banner {
    background: url('../media/ushuaia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 98vh;/*100vh*/
    text-align: center;
    padding: 200px 20px ;
}

#banner h1 {
    padding: 40px 0;
    font-weight: 600;
}

#banner h6,
#banner .thinner {
    font-weight: 400;

}

#banner a {
    text-transform: capitalize;
    font-style: italic;

}


/*Regiones*/
#regiones {
    padding: 50px 0;
    margin: 10px;
}

#regiones h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;

}

#regiones .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    padding: 20px;
    margin: 5px;
}

#regiones .box {
    text-align: center;
}

#regiones a {
    margin-top: 290px;
}

#regiones .box1 {
    grid-column: 1;
    grid-row: 1/2;
    background: url('../media/norte.webp');
}

#regiones .box2 {
    grid-column: 2;
    grid-row: 1/2;
    background: url('../media/ibera1.jpg');
}

#regiones .box3 {
    grid-column: 3;
    grid-row: 1/2;
    background: url('../media/Puelo.webp');
}

#regiones .box4 {
    grid-column: 1/3;
    grid-row: 2/3;
    background: url('../media/san-juan.jpg');
    text-align: right;
    padding-right: 160px;
}

#regiones .box5 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: url('../media/salinas-cordoba.jpg');
}
#regiones .box6 {
    grid-column: 1/4;
    grid-row: 3/4;
    background: url('../media/epecuen3.jpg');

}
#regiones .box1,
#regiones .box2,
#regiones .box3,
#regiones .box4,
#regiones .box5, 
#regiones .box6{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

#regiones .box1 img #regiones .box2 img #regiones .box3 img #regiones .box4 img #regiones .box5 img  #regiones .box6 img {
    width: 100%;
}



/*experiencias*/
.experiencias-texto {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.experiencias-texto p {
  margin-top: 20px;
}

.experiencias-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    background-color: whitesmoke
}

.experiencias-caja {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    
}
.experiencias-caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
display: flex;
justify-content: center;
align-items: center;
color: white;
transform: scale(0);
transition: 1000ms ease;
}
.experiencias-caja:hover .capa {
    transform: scale(1);
}



/*Footer*/

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
}

.footer p {

    justify-content: start;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    width: 45%;
    font-size: 20px;
    font-weight: 600;
}

.footer a {
    
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 15%;
    color: black;
}

/* pagina Destinos*/
h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 50px 100px;

}

a {
    text-decoration: none;

}



    #banner-destinos {
        width: 100%;
        height: 600px;
        margin: auto;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        
        }
        #banner-destinos ul {
            margin: 0;
            padding: 0;
            display: flex;
            width: 1000%;
            animation: destinos 50s infinite alternate ease-in-out;
        }
        #banner-destinos li {
            width: 100%;
            list-style: none;
        }
        #banner-destinos img {
            width: 100%;
            height: 650px;
            
        }
        .contenedor-destinos {
        position: absolute;
  
        margin: 0 25px;
        width: 100%;
        max-width: 1300px;

        text-align: center;
        padding: 200px 20px ;
        
        }
        #banner-destinos h1 {
            padding: 40px;
            font-weight: 600;
        }
        @keyframes destinos {
            0%{margin-left: 0;}
            5%{margin-left: 0;}
            10%{margin-left: -100%;}
            15%{margin-left: -100%;}
            20%{margin-left: -200%;}
            25%{margin-left: -200%;}
            30%{margin-left: -300%;}
            35%{margin-left: -300%;}
            40%{margin-left: -400%;}
            45%{margin-left: -400%;}
            50%{margin-left: -500%;}
            55%{margin-left: -500%;}
            60%{margin-left: -600%;}
            65%{margin-left: -600%;}
            70%{margin-left: -700%;}
            75%{margin-left: -700%;}
            80%{margin-left: -800%;}
            85%{margin-left: -800%;}
            90%{margin-left: -900%;}
            100%{margin-left: -900%;}
        }
        

#banner-destinos h6,
#banner-destinos .thinner {
    font-weight: 400;
    color: black;

}



#titulo h2 {
    font-size: 50px;
    font-weight: 500;
    justify-content: baseline;
}
.destinos-contenedor{
    padding: 50px;
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat';

}

.destinos-contenedor .destinos-carta {
    width: 300px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(133, 154, 207, 0.448) ;
}
.destinos-contenedor .destinos-carta:hover {
    transform: translateY(-25px);
    box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.5);

}
.destinos-contenedor .destinos-carta img {
    width: 300px;
    height: 180px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.destinos-contenedor .destinos.carta h4 {
    font-weight: 600;
    padding: 40px 10px 5px;   
}
.destinos-contenedor .destinos-carta h6 {
font-size: 14px;
color: crimson;
}


.destinos-contenedor .destinos-carta p {
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
    text-align: justify;
}
.destinos-contenedor .destinos-carta i {
    margin: 2px ;
}


/*pagina regiones*/
#banner-regiones {
    background: url('../media/merlo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    padding: 200px 20px;
}

#banner-regiones h1 {
    padding: 40px 0;
    font-weight: 600;
}

#banner-regiones h6,
#banner-regiones .thinner {
    font-weight: 400;

}

#banner-regiones a {
    text-transform: capitalize;
    font-style: italic;

}
.regiones1-contenedor{
    padding: 50px;
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Monserrat';

}
.regiones1-contenedor h1 {
    font-size: 2em;
    margin: 45px;
}
.regiones1-contenedor p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
}
.regiones1-contenedor .regiones1-carta {
    width: 300px;
    height: 430px;
    border-radius: 8px;
    box-shadow:  2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.regiones1-contenedor .regiones1-carta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);

}
.regiones1-contenedor .regiones1-carta img {
    width: 330px;
    height: 220px;

}
.regiones1-contenedor .regiones1.carta h3 {
    font-weight: 600;
    padding: 40px 10px 5px;

}
.regiones1-contenedor .regiones1-carta p {
    padding: 15px  16px 0;
    font-size: 17px;
    font-weight: 300;
    text-align: justify;
}
.regiones1-contenedor .regiones1-carta a {
    text-decoration: none;
    font-weight: 500;
    color: darkred;
    font-weight: bold;
    
}




/*Css para cada región*/

#banner-regiones2 {
width: 98%;
height: 600px;
margin: auto;
overflow: hidden;
position: relative;
border-radius: 20px;

}
#banner-regiones2 ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 1000%;
    animation: regiones2 50s infinite alternate ease-in-out;
}
#banner-regiones2 li {
    width: 100%;
    list-style: none;
}
#banner-regiones2 img {
    width: 100%;
    height: 650px;
    
}
.contenedor-regiones2 {
position: absolute;
margin-left: 30px;
padding: 100px 350px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
text-align: center;
width: 100%;
font-family: 'Monserrat';
}

@keyframes regiones2 {
    0%{margin-left: 0;}
    5%{margin-left: 0;}
    10%{margin-left: -100%;}
    15%{margin-left: -100%;}
    20%{margin-left: -200%;}
    25%{margin-left: -200%;}
    30%{margin-left: -300%;}
    35%{margin-left: -300%;}
    40%{margin-left: -400%;}
    45%{margin-left: -400%;}
    50%{margin-left: -500%;}
    55%{margin-left: -500%;}
    60%{margin-left: -600%;}
    65%{margin-left: -600%;}
    70%{margin-left: -700%;}
    75%{margin-left: -700%;}
    80%{margin-left: -800%;}
    85%{margin-left: -800%;}
    90%{margin-left: -900%;}
    100%{margin-left: -900%;}
}
.texto-regiones2 {
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    margin:10px;
    padding: 10px;

}
.texto-regiones2 h2 {
    padding: 20px;
    margin: 100px 0 20px;
    font-weight: bold;
    text-decoration: underline;
    
    
}
.texto-regiones2 p {
    padding: 20px ;
    margin: 50px 15px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 40px;
    text-align: justify;
}
/*Página Contacto*/
#banner-nosotrxs {
    background: url('../media/epecuen3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    text-align: center;
    padding: 200px 20px;
}

#banner-nosotrxs h1 {
    padding: 40px 0;
    font-weight: 600;
}

#banner-nosotrxs h6,
#banner-nosotrxs .thinner {
    font-weight: 400;

}
#nosotrxs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    height: 1000px;
    /* width: 100%;
  /*  height: 100%;*/

}

#icon-nosotrxs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 30px;
    padding: 30px;
    margin: 30px;


}

.flex-1 {
   /* display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine;*/

   margin: 0 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 300px;
    width: 800px;
}

.flex-2 {
    /*display: flex;
    flex-wrap: wrap;
    /* background-color: crimson;*/

   margin: 0 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 300px;
    width: 800px;

}

.flex-3 {
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*  background-color: darkcyan;*/

    margin: 0 20px;
    
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 500px;
    width: 800px;
}
/*.sucursal {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#map {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 700px;
    margin: 10px 40px;
}
