@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main estilos*/
html,
body {
    font-family: 'Montserrat', sans-serif;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.2em;
    /* comento y lo agrego al display 2*/
}


p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*clases utiles*/
.contenedor {
    margin: auto;
    width: 98%;
    max-width: 1300px;
    overflow: auto;
    padding: 0px 5px;
}


.muestra-1 {
    font-size: 5rem;
}

.muestra-2 {
    font-size: 2.2rem;
    margin: 5px 0;
}

.muestra-3 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
}

.btn {
    display: inline-block;
    font-size: 17px;
    padding: 15px 50px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.75px;
    border: 1.5px solid black;
    background-color: rgba(31, 31, 31, 0.2);
    border-radius: 10px;
}

.btn-small {
    padding: 10px 30px;
    border-radius: 20px;
}

.btn-dark {
    background: black;
    color: white;
}

.btn-light {

    background: rgba(31, 31, 31, 0.1);
    color: white;
    font-weight: 400;

}

.btn-light:hover {
    background: rgba(11, 11, 11, 0.9);
}

.large {
    font-size: 40px;
    /*20px*/
    font-weight: 600;
}

/*Navbar*/
.menu {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    height: auto;
}

label {
    display: none;
}

#menu-bar {
    display: none;
}

.menu .menu-item {
    text-transform: uppercase;
    /* float: right;*/
}

.menu a {
    color: black;
}

.menu .logo {
    padding-left: 50px;
    padding-top: 2px;
    float: left;
    font-size: 20px;
}

.menu i {
    font-size: smaller;
}

.menu .logo a:hover {
    background: white;
    color: black;
}

.menu .thinner {
    /*el pisar del logo*/
    font-weight: 400;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-weight: 500;
}

/*.menu ul li {
    
}*/


.menu ul ul {
    background: white;
    position: absolute;
    transform: translateX(40%);
    opacity: 0;
    transition: all 0.8s;
    display: flex;
    flex-direction: column;
}

.menu ul li:hover ul {
    opacity: 1;
    transform: translateX(0%);
}

.menu a:hover {
    font-weight: 600;
    background: rgba(31, 31, 31, 0.9);
    color: white;
}

.menu ul li a {
    display: block;
    padding: 20px;
    /*   text-align: center;*/
}

.menu ul li a.current {
    text-decoration: underline;
}


/*Banner*/

#banner {
    background: url('../media/ushuaia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 89vh;/*100vh*/
    text-align: center;
    padding: 200px 20px;
}

#banner h1 {
    padding: 40px 0;
    font-weight: 600;
}

#banner h6,
#banner .thinner {
    font-weight: 400;

}

#banner a {
    text-transform: capitalize;
    font-style: italic;

}

/*Sección Nosotros*/
#nosotrxs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 25px;
    padding: 25px;
    height: 300px;
    /* width: 100%;
  /*  height: 100%;*/

}

#icon-nosotrxs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 30px;


}

.flex-1 {
    display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine;*/
    flex: 1 1 auto;
    margin: 0 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 300px;



}

.flex-2 {
    display: flex;
    flex-wrap: wrap;
    /* background-color: crimson;*/
    flex: 1 1 auto;
    margin: 0 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 300px;

}

.flex-3 {
    display: flex;
    flex-wrap: wrap;
    /*  background-color: darkcyan;*/
    flex: 1 1 auto;
    margin: 0 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 300px;
}

/*Regiones*/
#regiones {
    padding: 50px 0;
}

#regiones h2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;

}

#regiones .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    padding: 20px;
}

#regiones .box {
    text-align: center;
}

#regiones a {
    margin-top: 290px;
}

#regiones .box1 {
    grid-column: 1;
    grid-row: 1/2;
    background: url('../media/norte.webp');
}

#regiones .box2 {
    grid-column: 2;
    grid-row: 1/2;
    background: url('../media/ibera1.jpg');
}

#regiones .box3 {
    grid-column: 3;
    grid-row: 1/2;
    background: url('../media/Puelo.webp');
}

#regiones .box4 {
    grid-column: 1/3;
    grid-row: 2/3;
    background: url('../media/san-juan.jpg');
    text-align: right;
    padding-right: 160px;
}

#regiones .box5 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: url('../media/salinas-cordoba.jpg');
}

#regiones .box1,
#regiones .box2,
#regiones .box3,
#regiones .box4,
#regiones .box5 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

#regiones .box1 img #regiones .box2 img #regiones .box3 img #regiones .box4 img #regiones .box5 img {
    width: 100%;
}

/*Aside blog*/
/*.blog h2 {
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.blog .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
background: rgba(31, 31, 31, 0.9);
    

}
    

.blog .box {
padding-top: 100px; 
padding-left: 100px;   
}

.blog a {
    text-decoration: none;
    margin-top: 190px;
    margin-bottom: 90px;;
    font-size: 20px;
    color: black;
}
.blog .box-1 {
    grid-column: 1;
    grid-row: 1/2;
    
}

.blog .box-2 {
    grid-column: 2;
    grid-row: 2/3;
    
}
.blog .box-3 {
    grid-column: 3;
    grid-row: 1/2;
}

 .blog .box-4 {
    grid-column: 1/2;
    grid-row: 2/4;
}

.blog .box-5 {
    grid-column: 3/4;
    grid-row: 2/4;
    
}*/





.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
}

.footer p {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;*/
    justify-content: start;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    width: 45%;
    font-size: 20px;
    font-weight: 600;
}

.footer a {
    /* display: flex;
    
    flex-direction: row;
    flex-wrap: nowrap;*/
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 15%;
    color: black;
}

/* pagina Destinos*/
h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 50px 100px;
    /* font-weight: 400;
    font-style: italic;
    font-size: 40px;*/
}

a {
    text-decoration: none;

}

/*.container {
    max-width:1100px;
    margin: auto;
    padding: 0 30px;
}
.small { font-size : 12px;}
    */

#banner-destinos {

    width: 1500px;
    height: 700px;
    margin: auto;
    padding: auto;
    background-size: contain;
    animation: banner 60s infinite alternate ease-in-out;
    text-align: center;
border:1.5px solid rgba(31, 31, 31, 0.2);

}

#banner-destinos h6,
#banner-destinos .thinner {
    font-weight: 400;
    color: black;

}

@keyframes banner {

    0%,
    5% {
        background: url('../media/atuel.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    10%,
    15% {
        background: url('../media/iruya.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    20%,
    25% {
        background: url('../media/costanera-mar-del-plata-1130391.webp');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    30%,
    35% {
        background: url('../media/fb5284f7872e44c6a71eb2d8cad17304.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    40%,
    45% {
        background: url('../media/catedral.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    50%,
    55% {
        background: url('../media/belen-catamarca.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    60%,
    65% {
        background: url('../media/misiones.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    70%,
    75% {
        background: url('../media/neuquen2.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    80%,
    85% {
        background: url('../media/Traslasierra_1.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }

    90%,
    95% {
        background: url('../media/palmar2.webp');
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 1500px;
    }
}

#titulo h2 {
    font-size: 50px;
    font-weight: 500;
}

/*pagina regiones*/
.regiones1-contenedor{
    padding: 50px;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.regiones1-contenedor .regiones1-carta {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.regiones1-contenedor .regiones1-carta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}
.regiones1-contenedor .regiones1-carta img {
    width: 330px;
    height: 220px;

}
.regiones1-contenedor .regiones1.carta h3 {
    font-weight: 600;
}
.regiones1-contenedor .regiones1-carta p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.regiones1-contenedor .regiones1-carta a {
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: darkred;
}
.regiones1-carta h1 {
    text-align: center;
    justify-content: center;
}
.regiones1-carta h3 {
    padding: 40px 10px 5px;
}

.regiones1-carta p {
    padding-top: 15px;
    text-align: justify;
}
#banner-regiones {
    background: url('../media/merlo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    text-align: center;
    padding: 200px 20px;
}

#banner-regiones h1 {
    padding: 40px 0;
    font-weight: 600;
}

#banner-regiones h6,
#banner-regiones .thinner {
    font-weight: 400;

}

#banner-regiones a {
    text-transform: capitalize;
    font-style: italic;

}

/*Css para cada región*/
/*#banner-regiones2 {
width: 1500px;
height: auto;
margin: 50px auto  0;

overflow: auto;
animation: slide 20s infinite alternate ease-in-out;
}
#banner-regiones2 ul {
    display: flex;
    padding: 0;
    width: 300%;
}
#banner-regiones2 li {
    list-style: none;
    width: 100%;
}
#banner-regiones2 img {
    width: 100%;
}*/
/*
.posicion {
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.banner-regiones2 {
    background-image: url('../media/larioja2.jpg');
    background-size: cover;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    animation: slide 10s infinite;
}
@keyframes slide {
   20% {
    background-image: url('../media/noa2.jpg');
background-size: cover;
}
40% {
    background-image: url('../media/catamarca.jpg');
background-size: cover;
}
60% {
    background-image: url('../media/jujuy.jpg');
background-size: cover;
}
80% {
    background-image: url('../media/larioja.jpg');
background-size: cover;
}
100% {
    background-image: url('../media/carnaval.jpg');
background-size: cover;
}

}*/

#banner-regiones2 {
width: 98%;
height: 600px;
margin: auto;
overflow: hidden;
position: relative;
border-radius: 20px;

}
#banner-regiones2 ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 1000%;
    animation: regiones2 50s infinite alternate ease-in-out;
}
#banner-regiones2 li {
    width: 100%;
    list-style: none;
}
#banner-regiones2 img {
    width: 100%;
    height: 650px;
    
}
.contenedor-regiones2 {
position: absolute;
margin-left: 30px;
padding: 100px 350px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
text-align: center;
width: 100%;

}

@keyframes regiones2 {
    0%{margin-left: 0;}
    5%{margin-left: 0;}
    10%{margin-left: -100%;}
    15%{margin-left: -100%;}
    20%{margin-left: -200%;}
    25%{margin-left: -200%;}
    30%{margin-left: -300%;}
    35%{margin-left: -300%;}
    40%{margin-left: -400%;}
    45%{margin-left: -400%;}
    50%{margin-left: -500%;}
    55%{margin-left: -500%;}
    60%{margin-left: -600%;}
    65%{margin-left: -600%;}
    70%{margin-left: -700%;}
    75%{margin-left: -700%;}
    80%{margin-left: -800%;}
    85%{margin-left: -800%;}
    90%{margin-left: -900%;}
    100%{margin-left: -900%;}
}
.texto-regiones2 {
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
}
.texto-regiones2 h2 {
    padding: 20px;
    margin: 100px 0 20px;
    font-weight: bold;
    text-decoration: underline;
    
}
.texto-regiones2 p {
    padding: 20px ;
    margin: 50px 15px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 40px;
    text-align: justify;
}